* {
	box-sizing: border-box;
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
	vertical-align: baseline;
}

body {
	font-family: Helvetica, sans-serif;
	background: #feac5e;
	/* fallback for old browsers */

	background: -webkit-linear-gradient(to bottom, #4bc0c8, #c779d0, #feac5e);
	/* Chrome 10-25, Safari 5.1-6 */

	background: linear-gradient(to bottom, #4bc0c8, #c779d0, #feac5e);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	display: flex;
	height: 100vh;
}

.memory-game {
	width: 640px;
	height: 640px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	perspective: 1000px; /* for 3D rotate*/
}

.memory-card {
	width: calc(25% - 10px);
	height: calc(33.333% - 10px);
	margin: 5px;
	position: relative;
	transform-style: preserve-3d; /* for 3d rotate */
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	transform: scale(1); /* for mouseover*/
	transition: transform 0.5s; /* for 3d rotate*/
}

.memory-card:active {
	transform: scale(0.97); /* for mouse over */
	transition: 0.2s;
}

.front-face,
.back-face {
	position: absolute; /* stacking front and back face on top of each other */
	width: 100%;
	height: 100%;
	padding: 20px;
	border-radius: 5px;
	background: #16222a;
	backface-visibility: hidden; /* makes the backface visible*/
}

.front-face {
	transform: rotateY(180deg); /* make the front face visible by rotating it to the front */
}

/* when clicked, this will spin the card around */
.memory-card.flip {
	transform: rotateY(180deg); /* for 3d rotate*/
}
