<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="/assets/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div id="todo-table">
    <form action="">
      <input type="text" name="item" placeholder="Add new item..." required />
      <button type="submit">Add Item</button>
    </form>
    <ul>
      <% for(let i =0; i < todos.length; i++) { %>
      <li><%= todos[i].item %></li>
      <% } %>
    </ul>
  </div>
</body>

</html>